@model HDU_Website.Controllers.NewsListViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "DaoTao";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<div class="container">
    <div id="breadcrumb-bar" class="col-12">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" style="text-decoration: none; color: #001D85;">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.NewsGroup</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-8 col-12">
            <div class="danhmuc-tintuc" style="margin-bottom: 10px;">
                @{
                    Html.RenderAction("DanhMucTop", "Home", new { idDanhMuc = ViewBag.IDGroup });
                    Html.RenderAction("DanhMucList", "Home", new { idDanhMuc = ViewBag.IDGroup });
                }
            </div>
        </div>
        <div class="col-lg-4 col-12">
            @{
                Html.RenderAction("TinNoiBatCTTinTuc", "Home", new { id = 1, tieude = "Tin nổi bật", noibat = true });
                Html.RenderAction("TinMoiCTTinTuc", "Home", new { id = 3, tieude = "Tin tuyển sinh" });
                /*Html.RenderAction("TinNoiBatCTTinTuc", "Home", new { id = ViewBag.IDGroup, tieude = "Tin liên quan", noibat = false });*/
            }
        </div>
    </div>
</div>
