@model IEnumerable<HDU_Website.Models.SYS_CaiDatCauHinh>

<main>
    <div class="slider">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    var configSlides = Model.FirstOrDefault(n => n.KeyCauHinh == "TH1065DF_Slide_ID");
                    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                    dynamic slides = serializer.Deserialize(configSlides.ValueCauHinh, typeof(object));
                    if (slides.Length > 0)
                    {
                        for (int i = 0; i < slides.Length; i++)
                        {
                            var item = slides[i];
                            string imageUrl = "http://media.hdu.edu.vn/" + item["GroupHinh"];
                            if (i == 0)
                            {

                                <div class="carousel-item active">
                                    <img src="@imageUrl" class="d-block w-100" alt="...">
                                </div>
                            }
                            else
                            {

                                <div class="carousel-item">
                                    <img src="@imageUrl" class="d-block w-100" alt="...">
                                </div>
                            }
                        }

                    }

                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <section class="introduction">
        <div class="container">
            <div class="wrp-intro">
                <a target="_blank"
                   class="block-intro "
                   href="http://giangvien.hdu.edu.vn/login.html"
                   title="Giảng viên">
                    <div class="grid-item">
                        <img catcherror=""
                             lazyload=""
                             alt="Giảng viên"
                             src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/0x0/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/9525b0d9-248b-4fab-83dd-ed8356c7ced8/download" /><span class="text">Giảng viên</span>
                    </div>
                </a>
                <a class="block-intro"
                   target=”_blank”
                   title="Người học"
                   href="http://sinhvien.hdu.edu.vn/sinh-vien-dang-nhap.html">
                    <div class="grid-item">
                        <img catcherror=""
                             lazyload=""
                             alt="Người học"
                             src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/0x0/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/e5e21de6-5e7e-4a3e-b843-0ee685db00f4/download" /><span class="text">Người học</span>
                    </div>
                </a>
                <a target="_blank"
                   class="block-intro"
                   href="http://cuusv.hdu.edu.vn/"
                   title="Cựu người học">
                    <div class="grid-item">
                        <img catcherror=""
                             lazyload=""
                             alt="Cựu người học"
                             src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/0x0/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/529b3755-d4b4-46e5-acc9-dad3e85bbe3d/download" /><span class="text">
                            Cựu người học
                        </span>
                    </div>
                </a>
                <a class="block-intro"
                   target=”_blank”
                   title="Học liệu số"
                   href="http://thuvienso.hdu.edu.vn/">
                    <div class="grid-item">
                        <img catcherror=""
                             lazyload=""
                             alt="Học liệu số"
                             src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/0x0/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/bfb5f33b-11a8-4767-9e6f-443801a3569a/download" /><span class="text">Học liệu số</span>
                    </div>
                </a>
                <a class="block-intro"
                   target=”_blank”
                   title="Lịch tuần"
                   href="/dat-cau-hoi.html">
                    <div class="grid-item">
                        <img catcherror=""
                             lazyload=""
                             alt="Lịch tuần"
                             src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/0x0/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/923c3e39-1571-40fa-b257-a310fa303cb2/download" /><span class="text">Lịch tuần</span>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="tintuc" style="padding-top: 50px; padding-bottom: 20px;">
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-12">
                        @{
                            Html.RenderAction("TinMoiHome", "Home", new { id = 1 });
                        }
                    </div>
                    <div class="col-lg-5 col-12">
                        @{
                            var newsArea = Model.FirstOrDefault(n => n.KeyCauHinh == "TH1026DF_NewsTop_Right");
                            Html.RenderAction("TinMoi", "Home", new { id = int.Parse(newsArea.ValueCauHinh), tieude = "Tin tuyển sinh" });
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-statistic bg-light" onload="load()">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-12 statistic-item text-center counter" data-target="3233" data-character="">
                    <img src="~/Content/images/graduated-student.png" width="100" />
                    <p class="fs-2 counter-value">0</p>
                    <p style="font-size: 18px;">Sinh viên tốt nghiệp năm 2022</p>
                </div>
                <div class="col-md-3 col-12 statistic-item text-center counter" data-target="91" data-character="%">
                    <img src="~/Content/images/vieclam.png" width="100" />
                    <p class="fs-2 counter-value">0</p>
                    <p style="font-size: 18px;">Sinh viên có việc làm khảo sát năm 2022</p>
                </div>
                <div class="col-md-3 col-12 statistic-item text-center counter" data-target="4" data-character="&#9733;">
                    <img src="~/Content/images/upm-logo.png" width="100" />
                    <p class="fs-2  counter-value">
                        0
                    </p>
                    <p style="font-size: 18px;">Đạt chuẩn đối sánh Chất lượng đại học</p>
                </div>
                <div class="col-md-3 col-12 statistic-item text-center counter" data-target="21" data-character="">
                    <img src="~/Content/images/kiem-dinh-clgd.png" width="100" />
                    <p class="fs-2 counter-value">0</p>
                    <p style="font-size: 18px;">Chương trình đào tạo được kiểm định</p>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('.counter').each(function () {
                    var $counter = $(this);
                    var target = parseInt($counter.attr('data-target'));
                    var character = $counter.attr('data-character');
                    var duration = 2000; // Animation duration in milliseconds
                    var step = Math.ceil(target / (duration / 10));
                    var count = 0;

                    var interval = setInterval(function () {
                        count += step;
                        if (count >= target) {
                            count = target;
                            clearInterval(interval);
                        }
                        $counter.find('.counter-value').text(count + character);
                    }, 10);
                });
            });
        </script>
    </section>
    <section class="section-news" style="padding-top: 10px; padding-bottom: 20px;">
        @{
            Html.RenderAction("TinHome", "Home", new { id = 1, isNoiBat = true, total = 5, title = "Tin nổi bật" });
        }
    </section>
    <section class="section-news bg-light" style="padding-top: 10px; padding-bottom: 20px;">
        @{
            Html.RenderAction("TinHome", "Home", new { id = 18066, isNoiBat = false, total = 5, title = "Tin vắn" });
        }
    </section>
    <section class="section-video" style="padding-top: 10px; padding-bottom: 20px;">
        <div class="main-content">
            <div class="container">
                <div class="title">HOẠT ĐỘNG</div>
                <div class="row" style="margin-bottom: 20px">
                    @{
                        Html.RenderAction("Video", "Home", new { sectionType = "VideoList" });
                    }
                </div>
            </div>
        </div>
    </section>
</main>
