<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-12 d-flex aligns-items-center">
                <a class="navbar-brand" href="http://hdu.edu.vn/">
                    <img id="banner" alt="Trang chủ" src="@Url.Content("~/Content/images/logo-hdu-removebg-preview-20221108085539-e.png")">
                </a>
            </div>
            <div class="col-lg-8 col-12 text-end d-inline">
                <form action="/action_page.php">
                    <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;(0237) 3910.222&nbsp;&nbsp;
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;cict@hdu.edu.vn&nbsp;&nbsp;&nbsp;
                    <a href="https://www.facebook.com/DHHongDuc"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    &nbsp;&nbsp;&nbsp;<a href="@("https://www.youtube.com/@hdu-tv")"><i class="fa fa-youtube" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                    <input type="text" placeholder="Tìm kiếm.." name="search">
                    <input type="submit" hidden />
                </form>
            </div>
        </div>
    </div>
</header>