@model IEnumerable<HDU_Website.Models.CMS_Menu>

<link rel="stylesheet" href="~/Content/menu.scss" />
<style>

    #menu.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    #logo {
        display: none;
    }

    .search-box {
        display: flex;
    }

    div#menu {
        background: #fa9627;
    }

    .navbar .nav-link {
        color: white !important; /* Set text color to white */
    }

    .navbar .nav-link:hover {
        color: #004998 !important; /* Change color on hover */
    }

    .navbar-nav > li {
        padding-left: 5px;
        padding-right: 5px;
    }
    /*.navbar-nav .nav-item.dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
        transition: 0.3s ease;
    }

    .dropdown-menu {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
    }*/


    /*.navbar-nav .dropdown:hover > .dropdown-menu {
        display: block;
    }
*/

    .dropdown-menu .dropdown-menu {
        display: none;
        top: 0;
        left: 100%; /* Position to the right of the parent dropdown */
        margin-left: 0; /* Remove offset to prevent gaps */
    }

    .navbar-nav .dropdown-menu li:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        display: none;
        transition: all 0.2s ease;
    }

    .dropdown:hover > .dropdown-menu,
    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
</style>

<div id="menu">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a id="logo" href="/" class="menu-item text-uppercase"><img src="~/Content/images/hdu1.png" width="40" height="40" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav" id="menu-content">
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<script>
    $('.dropdown').hover(function () {
        $('.dropdown-toggle', this).trigger('click');
    });
    $(document).ready(function () {
        $(".navbar-nav .nav-item").hover(
            function () {
                $(".dropdown-menu").removeClass("show");
                $(this).find(".dropdown-menu").addClass("show");
            },
            function () {
                $(this).find(".dropdown-menu").removeClass("show");
            }
        );
    });
</script>
<script>
    var menu = $('#menu');
    var menuOffset = menu.offset().top;
    var logo = $('#logo');
    var searchItem = $('#search-item');
    searchItem.hide();

    $(document).ready(function () {
        function checkWindowSize() {
            if ($(window).width() > 768) {
                searchItem.hide();
            } else {
                searchItem.show();
            }
        }

        checkWindowSize();

        $(window).on('resize', checkWindowSize);
    });

    $(window).scroll(function () {
        if ($(window).scrollTop() > menuOffset && $(window).width() > 768) {
            menu.addClass('sticky');
            if (menu.hasClass('sticky')) {
                logo.fadeIn(200);
            }
        } else {
            menu.removeClass('sticky');
            logo.fadeOut(200);
        }
    });
    $.ajax({
        url: "/Header/GetMenu",
        type: "GET",
        async: false,
        contentType: "application/json;charset=utf-8",
        success: function (response) {
            if (response.success) {
                let data = response.data;
                let proceed = data.map(item => {
                    let object = {}
                    if (item.Level == 1) {
                        object.parent = item;
                        let children = [];
                        for (let i = 0; i < data.length; i++) {
                            if (data[i].Level == 2 && data[i].IDThamChieu == item.ID) {
                                let child = data[i];
                                let check = false;
                                let sub_children = [];
                                for (let j = 0; j < data.length; j++) {
                                    if (data[i].ID != data[j].ID && data[j].Level == 3 && data[j].IDThamChieu == data[i].ID) {
                                        sub_children.push(data[j]);
                                        check = true;
                                    }
                                }
                                let sub_child_object = {
                                    hasChild: check,
                                    sub_child: sub_children,
                                    childID: data[i].ID
                                }
                                child.sub_children = sub_child_object;
                                children.push(child);
                            }
                        }
                        object.children = children;
                        object.hasChild = children.length > 0 ? true : false;
                    }
                    return object;
                });
                proceed = proceed.filter(item => !$.isEmptyObject(item));
                for (let i = 0; i < proceed.length; i++) {
                    let parentItem = proceed[i].parent;
                    let hasChild = proceed[i].hasChild;
                    if (hasChild) {
                        var contentToAppend = `
                            <li class="nav-item dropdown">
                                <a class="nav-link text-uppercase ml-3" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">${parentItem.TieuDe}</a>
                                <ul class="dropdown-menu shadow" id="${parentItem.ID}_sub_menu">
                                </ul>
                            </li>`;
                    } else if (parentItem.LoaiMenu == 2) {
                        var contentToAppend = `
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" href="${parentItem.Url}">${parentItem.TieuDe}</a>
                            </li>`;
                    } else if (parentItem.LoaiMenu == 4) {
                        var contentToAppend = `
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" href="/Home/DanhMuc?idDanhMuc=${parentItem.IDMap}">${parentItem.TieuDe}</a>
                            </li>`;
                    }
                    $("#menu-content").append(contentToAppend);
                }
                for (let i = 0; i < proceed.length; i++) {
                    let parentItem = proceed[i].parent;
                    let childItems = proceed[i].children;
                    let childTag = $(`#${parentItem.ID}_sub_menu`);
                    for (let j = 0; j < childItems.length; j++) {
                        let childItem = childItems[j];
                        let subChildItems = childItem.sub_children;
                        let itemHasChildren = subChildItems.hasChild;
                        if (itemHasChildren) console.log(childItem.LoaiMenu)
                        let contentToAppend = "";
                        if (childItem.LoaiMenu == 2) {
                            if (itemHasChildren == true) {
                                contentToAppend = `
                                    <li class="dropend">
                                        <a class="dropdown-item" style="text-decoration:none;color:#004998;font-weight: bold;" href="${childItem.Url}" data-bs-toggle="dropdown" data-bs-auto-close="outside">&raquo; ${childItem.TieuDe}</a>
                                        <ul class="dropdown-menu shadow" id="${subChildItems.childID}_subchild_menu">
                                        </ul>
                                    </li>`;
                            } else {
                                contentToAppend = `
                                    <li>
                                        <a class="dropdown-item" style="text-decoration:none;color:#004998;font-weight: bold;" href="${childItem.Url}">&raquo; ${childItem.TieuDe}</a>
                                    </li>`
                            };
                        } else if (childItem.LoaiMenu == 3) {
                            contentToAppend = `
                                <li>
                                    <a class="dropdown-item" style="text-decoration:none;color:#004998;font-weight: bold;" href="/Home/GioiThieu/${childItem.IDMap}">&raquo; ${childItem.TieuDe}</a>
                                </li>`;
                        } else if (childItem.LoaiMenu == 4) {
                            if (itemHasChildren == true) {
                                contentToAppend = `
                                    <li class="dropend">
                                        <a href="/Home/DanhMuc?idDanhMuc=${childItem.IDMap}" class="dropdown-item" style="text-decoration:none;color:#004998;font-weight: bold;" data-bs-toggle="dropdown" data-bs-auto-close="outside">&raquo; ${childItem.TieuDe}</a>
                                        <ul class="dropdown-menu shadow" id="${subChildItems.childID}_subchild_menu">
                                        </ul>
                                    </li>`;
                            } else {
                                contentToAppend = `
                                    <li>
                                        <a class="dropdown-item" style="text-decoration:none;color:#004998;font-weight: bold;" href="/Home/DanhMuc?idDanhMuc=${childItem.IDMap}">&raquo; ${childItem.TieuDe}</a>
                                    </li>`;
                            }
                        }
                        childTag.append(contentToAppend);

                        if (subChildItems.hasChild) {
                            let subChildrens = subChildItems.sub_child;
                            let tag = $(`#${subChildItems.childID}_subchild_menu`);
                            let subContentToAppend = "";
                            for (let k = 0; k < subChildrens.length; k++) {
                                let subChild = subChildrens[k];

                                if (subChild.LoaiMenu == 2) {
                                    subContentToAppend = `
                                        <li>
                                            <a style="text-decoration:none;color:#004998" href="${subChild.Url}">${subChild.TieuDe}</a>
                                        </li>`;
                                } else if (subChild.LoaiMenu == 3) {
                                    subContentToAppend = `
                                        <li>
                                            <a style="text-decoration:none;color:#004998" href="/Home/GioiThieu/${subChild.IDMap}">${subChild.TieuDe}</a>
                                        </li>`;
                                } else if (subChild.LoaiMenu == 4) {
                                    subContentToAppend = `
                                        <li>
                                            <a style="text-decoration:none;color:#004998" href="/Home/DanhMuc?idDanhMuc=${subChild.IDMap}">${subChild.TieuDe}</a>
                                        </li>`;
                                }
                                tag.append(subContentToAppend);

                            }
                        }
                    }
                }
            }
        },
        error: function (xhr, status, error) {
            console.error(error);
        }
    });
</script>
